@media (min-width: 769px) {

  /* --- Kontener linków w kolumnę --- */
  .links-desktop-wrapper {
    display: table;
    margin: 20px auto; /* centrowanie */
  }

  /* --- Każdy link jako wiersz tabeli - wszystkie tej samej szerokości --- */
  .link-box,
  .center-link-box,
  .promo-link-box {
    display: table-row;
    text-align: center;
    margin: 5px 0;  /* odstęp między linkami */
    padding: 20px 30px;
    font-size: 22px;
    border-radius: 10px;
    background-color: rgba(169,169,169,0.8);
    font-family: Arial, sans-serif;
    z-index: 2;
  }

  /* Ukrycie widgetu HypeStat na desktop */
  .hypestat-desktop {
    display: none !important;
  }
}
