/* YouTube icon na dole */
.youtube-icon {
  position: fixed;
  bottom: 2%; /* dystans od dołu ekranu */
  right: 2%;  /* dystans od prawej strony */
  z-index: 3;
}

.youtube-icon img {
  width: 50px;   /* rozmiar ikony, można zmienić */
  height: 50px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .youtube-icon img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 480px) {
  .youtube-icon img {
    width: 35px;
    height: 35px;
  }
}
