/* Wideo jako tło */
#bg-video {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover; /* Film wypełnia ekran */
  object-position: center center; /* Ustala punkt początkowy wyświetlania */
}

/* Link do Afternic */
.link-box {
  position: absolute;
  top: 0; /* Górny pasek */
  left: 50%;
  transform: translateX(-50%);
  background: #fff; /* Białe tło */
  color: #000; /* Czarny tekst */
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

/* Link do filmu */
.promo-link-box {
  position: absolute;
  bottom: 0; /* Dolny pasek */
  left: 50%;
  transform: translateX(-50%);
  background: #fff; /* Białe tło */
  color: #000; /* Czarny tekst */
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

/* Responsywność dla urządzeń mobilnych */
@media (max-width: 768px) {
  #bg-video {
    object-fit: contain; /* Na urządzeniach mobilnych zmieniamy na 'contain', by nie przycinać filmu */
  }

  /* Linki na urządzeniach mobilnych */
  .link-box, .promo-link-box {
    font-size: 18px;
    padding: 15px 25px;
    border-radius: 10px;
  }

  .link-box {
    top: 0; /* Link na górze ekranu */
  }

  .promo-link-box {
    bottom: 0; /* Link na dole ekranu */
  }
}

@media (max-width: 480px) {
  #bg-video {
    object-fit: contain; /* Na małych ekranach również 'contain', żeby film nie był przycinany */
  }

  .link-box, .promo-link-box {
    font-size: 16px;
    padding: 10px 20px;
  }
}
